#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker

# Create static binary
export CGO_ENABLED := 0

override_dh_auto_build:
	dh_auto_build -- -ldflags '-w'

override_dh_auto_test: 

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

%:
	dh $@ --buildsystem=golang --with=golang --with=systemd
